html, body
{
/*	font-family:"open sans","helvetica neue",helvetica,arial,sans-serif; */
	overflow: hidden;
	width: 100%;
	height: 100%;
	padding: 0px;
	margin: 0px;
}

canvas#canvas
{
	width: 100%;
	height: 100%;
	touch-action: none;
}

div#menu
{
	position: absolute;
	height: 100%;
	width: 300px;
	top: 0px;
	left: -300px;
	background-color: #ffffff;
	z-index: 900;
}

#viewMenuHover {
	position: absolute;
	top: 0px;
	width : 100px; 
	height : 100%;
	z-index: 800;
}
