html, body
{
/*	font-family:"open sans","helvetica neue",helvetica,arial,sans-serif; */
	overflow: hidden;
	width: 100%;
	height: 100%;
	padding: 0px;
	margin: 0px;
}

/*html, body { 
  background: url(/static/img/bg.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#main-page {
	background-color: rgba(255,255,255,0.65); 
	margin-top: 35%;
	margin-bottom: 15%;
	padding-top: 10px;
	padding-bottom: 10px;
	height: 50%;
}*/

canvas#canvas
{
	width: 100%;
	height: 100%;
	margin-top: 0px;
	touch-action: none;
}

div#menu
{
	position: absolute;
	height: 100%;
	width: 200px;
	padding: 15px;
	top: 0px;
	left: -300px;
	background-color: #ffffff;
	z-index: 900;
}

.btn-menu {
	width: 100%;
	margin-bottom: 10px !important;
}

#viewMenuHover {
	position: absolute;
	top: 0px;
	width : 30px; 
	height : 100%;
	z-index: 800;
}

#context-menu{
	visibility: hidden;
	background-color: white;
	position: absolute;
	z-index: 999;
	width: 120px;
	height: auto;
	background-color: rgba(235,235,235,0.8);
}

div.context-item{
	padding: 5px;
	font-weight: bold;
	cursor: pointer;
}

div.context-item:hover{
	background-color: rgba(120,120,120,0.5);
}

div#loading-notification {
	text-align: center;
	width: 150px;
	position: fixed;
	background: #fff;
	overflow: auto;
	left: 50%;
	top: 30%;
	margin-left: -75px;
	border-radius: 8px;
	box-shadow: 0px 0px 15px #444444;
}

div#loading-notification > p {
	margin-top: 10px;
	font-weight: bold;
}


/* Tooltip */
.btn-tooltip + .tooltip > .tooltip-inner {
    background-color: #eeeeee; 
    color: #555555; 
    border: 0px solid #eeeeee;
    padding: 7px;
    font-size: 13px;
}
/* Tooltip on top */
.btn-tooltip + .tooltip.top > .tooltip-arrow {
    border-top: 5px solid #eeeeee;
}

/* Tooltip on bottom */
.btn-tooltip + .tooltip.bottom > .tooltip-arrow {
    border-bottom: 5px solid #eeeeee;
}

/* Tooltip on left */
.btn-tooltip + .tooltip.left > .tooltip-arrow {
    border-left: 5px solid #eeeeee;
}

/* Tooltip on right */
.btn-tooltip + .tooltip.right > .tooltip-arrow {
    border-right: 5px solid #eeeeee;
}

