html, body
{
	font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif; 
	overflow: hidden;
	width: 100%;
	height: 100%;
	padding: 0px;
	margin: 0px;
}

html, body { 
	background: url(/static/img/bg.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;

	-moz-user-select: none; 
	-webkit-user-select: none; 
	-ms-user-select:none; 
	user-select: none;
	-o-user-select: none;
}

#main-page {
	/*position: absolute;*/
	/*background-color: rgba(255,255,255,0.65); */
	top: 0%;
	left: 0%;
	padding: 20px;
	height: 100%;
	width: 100%;

	
}

#main-page #main-page-container {
	position: absolute;
	width: 100%;
	height: 40%;
	top: 30%;
	left: 0px;
	background-color: rgba(50,50,50,0.65);
}

#main-page #user-profile {
	position: absolute;
	width: 10%;
	height: 10%;
	right: 10px;
	top: 10px;
}

.ColorBlotch {
	border: 1px solid #dddddd;
	padding: 7px;
	border-radius: 10px;
	cursor: pointer;
}

#main-page #user-profile > #change-username {
    border: 1px solid #dddddd;
    background-color: rgba(50,50,50,0.4);
}

#main-page #user-profile > #change-username:hover {
    border: 1px solid #dddddd;
    /*background-color: rgba(50,50,250,0.4);*/
    box-shadow: 0 0 10px #ffffff;
}
 
#main-page-toolbar {
	position: absolute;
	bottom: 10px;
}

.UI-main.lobby-list.btn {
	color: #cccccc;
	background-color: rgba(50,50,50,0.4);
	border: 1px solid #dddddd;
}

.UI-main.lobby-list.btn:hover {
	color: white;
	background-color: transparent;
	border: 1px solid #dddddd;
}

#lobby-list {
	position: absolute;
	height: 90%;
	width: 70%;
	right: 10px;
	top: 5%;
	overflow: hidden;
	/*overflow-wrap: normal;*/
	background: none;
}

#lobby-list > #inner {
	height: 100%;
	width: 103%;
	overflow-y: auto;
	padding-right: 3%;
}

#lobby-list > #inner > a {
	background: rgba(50,50,50,0.5);
	color: #eeeeee;
	cursor: pointer;
}

#lobby-list > #inner > a:hover {
	background: transparent;
	color: #eeeeee;
}

#model-template-alert {
	/*overflow-x: hidden; 
	overflow-y: auto;*/
	width: 100%;
	overflow: hidden;
	height: 0px;
	transition: height 0.15s ease-out;
	word-wrap: break-word;
	margin: auto;
}

#model-template-alert > #inner {
	height: 100%;
	width: 106%;
	left: 0px;
	top: 0px;
	overflow-y: auto;
	overflow-x: hidden; 
	padding-right: 1px;
}



/*in-game*/

canvas#canvas
{
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
	touch-action: none;
}

div#menu
{
	position: absolute;
	height: 100%;
	width: 200px;
	padding: 15px;
	top: 0px;
	left: -300px;
	background-color: #ffffff;
	z-index: 900;
}

.btn-menu {
	width: 100%;
	margin-bottom: 10px !important;
}

#viewMenuHover {
	position: absolute;
	top: 0px;
	width : 30px; 
	height : 100%;
	z-index: 800;
}

#context-menu{
	visibility: hidden;
	background-color: white;
	position: absolute;
	z-index: 999;
	width: 120px;
	height: auto;
	background-color: rgba(235,235,235,0.8);
}

div.context-item{
	padding: 5px;
	font-weight: bold;
	cursor: pointer;
}

div.context-item:hover{
	background-color: rgba(120,120,120,0.5);
}

div#loading-notification {
	text-align: center;
	width: 150px;
	position: fixed;
	background: #fff;
	overflow: auto;
	left: 50%;
	top: 30%;
	margin-left: -75px;
	border-radius: 8px;
	box-shadow: 0px 0px 15px #444444;
}

div#loading-notification > p {
	margin-top: 10px;
	font-weight: bold;
}


/* chat box style sheet 
div#chatbox {
	position: fixed;
	width: 26%; 
	height: 30%; 
	border-radius: 10px; 
	border: 0px solid #aaaaaa; 
	bottom: 30px; 
	left: 15px; 
	padding-top: 10px;
}

div#chatbox > div#chatbox-inbox {
	display: none; 
	position: absolute;
	border-radius: 10px;
	border: 0px solid #dddddd; 
	height: 80%; 
	overflow-y: auto; 
	word-wrap: break-word;
	background-color: rgba(255,255,255,0.8);
	left: 1%; 
	width: 97%; 
	padding: 10px;
}

div#chatbox > div#chatbox-input {
	position: absolute; 
	bottom: 10px;
	left: 1%; 
	width: 98%;
}*/

div#chatbox-inbox {
	display: none;
	position: fixed;
	width: 26%;
	max-height: 20%;
	bottom: 48px;
	left: 16px;
	border-radius: 10px;
	border: 0px solid #dddddd;
	overflow-y: auto;
	word-wrap: break-word;
	background-color: rgba(255,255,255,0.8);
	padding: 10px;
}

div#chatbox-input {
	position: fixed;
	width: 26%;
	bottom: 10px;
	left: 16px;
}

div#right-panel-container {
	position: absolute;
	height: 100%;
	width: 300px;
	top: 0px;
	right: -200px; 
	/*transition: right 0.3s cubic-bezier(.14,.75,.51,.96);*/
	background: transparent;
}

div#right-panel-container > div#right-panel {
	position: absolute;
	height: 100%;
	width: 200px;
	top: 0px;
	right: 0px;
	background-color: #333333;
	padding: 10px;
}


div#right-panel-container > div#right-panel > div#right-toolbar {
	position: absolute;
	right: 100%;
	/*bottom: 0px;*/
	top: 60%;
}

div#right-panel > div#chat {
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0px;
	left: 0px;
}

div#right-panel > div#chat > div#chatbox-input {
	position: absolute; 
	bottom: 10px;
	left: 5%; 
	width: 90%;
}

div#players-list-list > p {
	color: white;
}

form#saveform {
	position: fixed;
	bottom: 30px;
	right: 15px;
}

/* Tooltip */
.btn-tooltip + .tooltip > .tooltip-inner {
    background-color: #eeeeee; 
    color: #555555; 
    border: 0px solid #eeeeee;
    padding: 7px;
    font-size: 13px;
}
/* Tooltip on top */
.btn-tooltip + .tooltip.top > .tooltip-arrow {
    border-top: 5px solid #eeeeee;
}

/* Tooltip on bottom */
.btn-tooltip + .tooltip.bottom > .tooltip-arrow {
    border-bottom: 5px solid #eeeeee;
}

/* Tooltip on left */
.btn-tooltip + .tooltip.left > .tooltip-arrow {
    border-left: 5px solid #eeeeee;
}

/* Tooltip on right */
.btn-tooltip + .tooltip.right > .tooltip-arrow {
    border-right: 5px solid #eeeeee;
}

/*override bootstrop*/
.btn-outline {
    background-color: transparent;
    color: inherit;
    transition: all .1s;
    background-image: none;
    text-shadow: none;
    border-width: 2px;
    border-radius: 10px;
}

.btn-primary.btn-outline {
    color: #fff;
}

.btn-success.btn-outline {
    color: #fff;
}

.btn-info.btn-outline {
    color: #5bc0de;
}

.btn-warning.btn-outline {
    color: #f0ad4e;
}

.btn-danger.btn-outline {
    color: #d9534f;
}

.btn-primary.btn-outline:hover{
    color: #fff;
    background: #428bca;  
}

.btn-success.btn-outline:hover{
    color: #fff;
    background: #5cb85c;    
}

.btn-info.btn-outline:hover{
    color: #fff;
    background: #5bc0de;   
}

.btn-warning.btn-outline:hover{
    color: #fff;
    background: #f0ad4e;     
}

.btn-danger.btn-outline:hover {
    color: #fff;
    background: #d9534f;      
}

