html, body {
	font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
}

#main-header {
	height: 400px;
	overflow: hidden;
}

#main-header-background {
	height: 400px;
	background: url(/static/img/bg.jpg);
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	background-position-y: center;
}

#main-header-content {
	height: 100%;
	-webkit-box-shadow: inset 0px -4px 7px 0px rgba(0,0,0,0.5);
	-moz-box-shadow: inset 0px -4px 7px 0px rgba(0,0,0,0.5);
	box-shadow: inset 0px -4px 7px 0px rgba(0,0,0,0.5);
}

#main-page {
	padding: 0px;
	width: 100%;
}

#game-title {
	margin: 0px;
	padding-top: 100px;
	text-align: center;
	color: #fafafa;
}

#enter-game-btn {
	margin: auto;
	position: relative;
    left: 50%;
    top: 50%;
    margin-bottom: 50%;
    margin-right: -50%;
    transform: translate(-50%, 60%);
	height: 50px;
    width: 150px;
    font-size: 18px;
}

#main-info {
	max-width: 800px;
	margin: auto;
	padding: 40px;
	padding-top: 0px;
}
